<div class="footerArea2">
    <div class="container footer">
        <div class="detail_left">
            <div class="logo_area_footer"><img alt="" src="/assets/images/logo/logo.png?v=1.1"></div>
            <div style="color: white; float: left; font-size: 14px; font-weight: 100;">COPYRIGHT © 2020.WWW.UFA1975.COM</div>
        </div>


        <div class="detail_right">
            <div class="logo_footer">
                <div class="row" style="float: right;
                color: white;
                width: 600px;
                right: 0;
                position: relative; padding-bottom: 40px;">
                    <div class="col-4" style=" text-align: left;">
                        <div style="font-weight:600">เกี่ยวกับเรา</div>
                        <div class="hover" style="font-weight:100" [routerLink]="['/page/ufabet']" routerLinkActive="router-link-active">ufabet</div>
                        <div class="hover" style="font-weight:100" [routerLink]="['/page/betball']" routerLinkActive="router-link-active">แทงบอลออนไลน์</div>
                        <div class="hover" style="font-weight:100" [routerLink]="['/page/betballtoday']" routerLinkActive="router-link-active">แทงบอลวันนี้</div>
                        <div class="hover" style="font-weight:100" [routerLink]="['/page/registerbet']" routerLinkActive="router-link-active">สมัครแทงบอล</div>
                        <div class="hover" style="font-weight:100" [routerLink]="['/page/football']" routerLinkActive="router-link-active">ฟุตบอลโลก</div>
                    </div>
                    <!-- <div class="col-4" style="float: left; text-align: left;">
                        <div style="font-weight:600">เมนูทั่วไป</div>
                        <div class="hover" style="font-weight:100" [routerLink]="['/home']" routerLinkActive="router-link-active">หน้าหลัก</div>
                        <div class="hover" style="font-weight:100" [routerLink]="['/page/register']" routerLinkActive="router-link-active">สมัครสมาชิก</div>
                        <div class="hover" style="font-weight:100" [routerLink]="['/promotion']" routerLinkActive="router-link-active">โปรโมชั่น</div>
                        <div class="hover" style="font-weight:100" [routerLink]="['/page/deposit']" routerLinkActive="router-link-active">แจ้งฝาก</div>
                        <div class="hover" style="font-weight:100" [routerLink]="['/page/withdraw']" routerLinkActive="router-link-active">แจ้งถอน</div>
                    </div> -->
                    <div class="col-4" style="float: left; text-align: left;">
                        <div style="font-weight:600">ติดต่อด่วน</div>
                        <div style="font-weight:100">LINE@ : @ufa1975</div>
                        <div style="font-weight:100">Website : www.ufa1975.com</div>
                    </div>
                </div>
                <!-- <div class="menu_footer_">
                    <span class="links_footer" routerLink="/home" style="border-left: 0px !important;" tabindex="0" ng-reflect-router-link="/home">หน้าแรก</span>
                    <span class="links_footer" routerLink="/page/register" tabindex="0">สมัครสมาชิก</span>
                    <span class="links_footer" routerLink="/page/deposit" tabindex="0">แจ้งฝาก</span>
                    <span class="links_footer" routerLink="/page/withdraw" tabindex="0">แจ้งถอน</span>
                    <span class="links_footer" routerLink="/promotion" tabindex="0">โปรโมชั่น</span>
                    <span class="links_footer" routerLink="/news" tabindex="0">บทความ</span>
                    <span class="links_footer" routerLink="/page/contact" style="border-right: 0px !important;" tabindex="0">ติดต่อเรา</span>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="bottom_area">
        COPYRIGHT © 2020.WWW.UFA1975.CLUB
    </div> -->
</div>