<div class="content_ container" style="margin-top:0px">
    <div class="row">
        <div class="col-lg-12 col-12">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">

                <div ngxSlickItem *ngFor="let slide of imageUrls" class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%">
                </div>

            </ngx-slick-carousel>
        </div>
        <div class="col-lg-12 col-12" style="padding-left: 0px;padding-right: 0px;">
            <img src="/assets/images/content/register-step.jpg" alt="" style="width: 100%;">
        </div>
    </div>

    <div class="container content_area_set" style="margin-top:0px;">
        <div class="login_area">
            <div class="login_text">
                เข้าสู่ระบบ
                <form _ngcontent-ftw-c0="" action="https://ufa1975.com/api/loginUfabet.php" class="centered-form ng-pristine ng-invalid ng-touched" data-toggle="validator" id="form1" method="post">
                    <div class="form_input">
                        <input type="text" name="username" id="username" style="text-align:center" placeholder="ชื่อผู้ใช้" class="form-control input_login">
                        <input type="password" name="password" id="password" style="text-align:center" placeholder="รหัสผ่าน" class="form-control input_login">
                        <input type="hidden" name="ac" style="text-align:center" value="loginUfabet" class="form-control input_login">
                        <input id="ac" name="ac" type="hidden" value="loginUfabet">
                        <a _ngcontent-ftw-c0="" class="btn-submit width-btn" href="javascript:doPostBackBetufa('btnSignIn','')" id="btnSignIn" style="text-transform: uppercase;" tabindex="5">
                            <img class="image_login" src="/assets/images/icon/login-icon.png" alt="">
                        </a>
                        <a href="javascript:doPostBackBetufa('btnSignIn','')" id="btnSignIn" type="button" class="btn btn-warning btn_login">LOGIN</a>
                    </div>
                </form>
            </div>
        </div>


        <!-- <div style="text-align: center; font-size: 1.3em;color: #F1DC40;clear: left;">
            <div>เว็บพนันออนไลน์ แทงบอลออนไลน์</div>
            <div>ได้เงินจริง ข้อดีของการเป็นสมาชิก UFA1975.COM</div>
        </div> -->
        <div class="des_text_content">
            <label style="color: #009BD9;">ufabet</label> เว็บพนันบอลออนไลน์ ครบวงจรไม่ว่าจะเป็น เว็บแทงบอล ufabet คาสิโนออนไลน์ บาคาร่าออนไลน์ เกมส์สล็อต เกมส์ไฮโลออนไลน์ ได้เงินจริง และกีฬาออนไลน์อื่นๆ อีกมากมาย @<label style="color:#CF080B">ufa1975</label>            เป็นที่รู้จักกันดีว่า betufa หรือ ufabet เป็นเว็บตรงไม่ผ่านเอเย่นต์ มั่งคงปลอดภัย 100% ฝาก-ถอน โอนไว จ่ายจริง จ่ายไม่อั้น <label style="color:#CF080B">UFA1975</label> เว็บพนันออนไลน์ในเครือ เว็บแทงบอลทที่ได้รับความนิยมมากที่ในเวลานี้ เพราะเรานั้นใส่ใจด้านการบริการ
            แบบครบวงจรตลอด 24 ชม. ด้วยประสบการณ์ในแบบมืออาชีพในการให้บริการ บอลออนไลน์ ท่านจึงมั่นใจได้อย่างแน่นอนว่าเรา มั่นคง ซื่อสัตย์ จริงใจ ฝากถอนรวดเร็ว ทันใจ ภายใน 10 นาที ไม่ต้องรอนานให้เสียอารมณ์ เรามีกิจกรรมพร้อม โปรโมชั่น มากมาย ให้แก่ลูกค้าเดิมพัน
            พนันออนไลน์ให้นึกถึง
            <label style="color:#CF080B">www.ufa1975.com</label>
            <hr style="background-color: white;">
        </div>





        <div class="des_text_content">
            <div class="left_side">
                <div style="padding-bottom: 20px;">
                    <label style="color: #009BD9;">UFABET</label> หรือ ยูฟ่าเบท หากพูดถึงบริษัทที่ แทงบอลเราเชื่อว่าทุกคนต้องรู้จัก<label style="color: #009BD9;">UFABET</label> เป็นอันดับต้นๆ ของเอเชีย เพราะ <label style="color: #009BD9;">UFABET</label>                    ได้รับความนิยมเป็นอย่างมากในเวลานี้ <label style="color: #009BD9;">UFABET</label> เป็นเว็บไซต์แทงบอลออนไลน์ อันดับหนึ่งของทวีปเอเชียทำให้ใน ประเทศไทยได้รับกระแสอย่างดีเยี่ยมมาโดยตลอดในปีที่ผ่านมา ในเว็บไซต์ของ <label style="color: #009BD9;">UFABET</label>                    เป็บเว็บรับเดิมพันของการแข่งขันกีฬาต่างๆ ไม่ว่าจะเป็น ฟุตบอล,พรีเมียร์ลีก,ลาลีกาสเปน,บุนเดสลีกา,ลีกเอิง 4 ลีกใหญ่ ในยุโรป และยังมีลีกรองอีกครบครัน ลูกค้าสามารถ เดิมพันได้ทั้งบอลเดี่ยว และบอล สเต็ป ตลอด 24 ชม.เท่านั้นยังไม่พอยังบาสเกตบอล,สนุกเกอร์,แบตมินตัน,รถแข่ง,ฮอกกี้,เทสนิส
                    และอื่นๆอีกมากมาย ท่านเลือกเล่นตามใจชอบอีกมากมาย แต่สำหรับผู้ที่ไม่ชื่นชอบกีฬาก็ยังมี SA gaming ที่มี Baccarat บาคาร่า หรือ เกมไพ่ แบล็คแจ๊ค รูเล็ตต์ ไฮโล มังกรเสือให้ท่านได้เสี่ยงโชคใน <label style="color: #009BD9;">UFABET</label>                    และจะมีการถ่ายทอดสดเป็น Live บาคาร่าถ่ายทอดสดจากให้กับท่านได้ดูกับแบบสดๆ เสมือนไปเล่นบนโต๊ะบาคาร่าจริงๆ <label style="color:#CF080B">Ufa1975</label> เป็น เว็บแทงบอล ที่ดีที่สุดในประเทศ ฝาก-ถอน 24 ชั่วโมงเว็บพนันบอลไทยได้ทุกคู่ ทุกลึกรองรับได้ทุกอุปกรณ์
                    เว็บพนันออนไลน์ที่ดีที่สุด มีระบบใช้งาน เมนูเป็นภาษาไทย ใช้งานง่ายฝาก-ถอน ทุกยอดเงินด้วยระบบผ่านหน้าเว็บทำรายการถอนรวดเร็วทำได้ตลอด 24 ชั่วโมง และไม่มีค่าธรรมเนียมการถอนใดๆสามารถใช้งานระบบ กดแทงผ่านมือถือ สมาร์ทโฟนและแท็บเล็ต ทุกรุ่นCall
                    center 24 ชั่วโมง สอบถาม ปรึกษาและสมัครได้ตลอดเวลามีให้กด สเต็ป2 ทั้งบาคาร่า และอื่นๆ แบบสดๆได้ในไอดีเดียวกันมีตัวตนจริง มีที่ตั้งออฟฟิตสำนักงานใหญ่ช่องทางการติดต่อ ที่ทาง <label style="color:#CF080B">Ufa1975</label> จัดเตรียมไว้มีมากมาย
                    ป้องกันเหตุการณ์ฉุกเฉินต่างๆการเงินมั่นคง จ่ายจริง จ่ายไว จ่ายไม่อั้น ในเว็บเดียวเว็บพนันออนไลน์ ต่างประเทศ มีโปรโมชั่นดีๆ สนุกๆ ลุ้นรับรางวัลใหญ่ ให้กับสมาชิกตลอดช่อง
                </div>
            </div>
            <div class="right_side">
                <img src="/assets/images/content/info.png" style="width: 100%;" alt="">
            </div>
            <div class="row" style="float: left;">
                <div class="col-6">
                    <img src="/assets/images/content/callcenter.jpg" style="width: 100%;" alt="">
                </div>
                <div class="col-6">
                    <img src="/assets/images/content/bank.jpg" style="width: 100%;" alt="">
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="row" style="padding-top:20px;">
        <div class="col-xs-15">
            <img class="img_game hvr-push" src="/assets/images/content/sport.png" alt="">
        </div>
        <div class="col-xs-15">
            <img class="img_game hvr-push" src="/assets/images/content/casino.png" alt="">
        </div>
        <div class="col-xs-15">
            <img class="img_game hvr-push" src="/assets/images/content/game.png" alt="">
        </div>
        <div class="col-xs-15">
            <img class="img_game hvr-push" src="/assets/images/content/esport.png" alt="">
        </div>
        <div class="col-xs-15">
            <img class="img_game hvr-push" src="/assets/images/content/lotto.png" alt="">
        </div>
    </div>
    <div class="text_copyright">
        Copyright © 2021 TUfa888.COM All Rights Reserved.
    </div> -->
</div>

<!-- <div _ngcontent-gyx-c3="" attr="https://lin.ee/3WytmJVY" class="qr-popup"><i _ngcontent-gyx-c3="" aria-hidden="true" class="fa fa-window-close fa-6 close-qr"></i></div> -->